<link rel="stylesheet" href="./style/footer.css">
<footer>
   <div class="footer-line" id="contact"></div>
   <section>
      <div class="sosmed">
         <a href="https://www.facebook.com/wesley.yansen.3/"><i class="fa-brands fa-facebook"></i></a>
         <a href="https://www.instagram.com/ilovemath2503/"><i class="fa-brands fa-instagram"></i></a>
         <a href="https://github.com/ilovemath25/"><i class="fa-brands fa-github"></i></a>
         <a href="mailto:ilovemath250@gmail.com"><i class="fa-regular fa-envelope"></i></a>
      </div>
      <p class="hidden">Made by Me</p>
      <p class="hidden">Wesley</p>
      <p>&copy; 2024 Ilovemath</p>
   </section>
   <img src="./image/signature.png" class="signature">
</footer>