@font-face {
   font-family: Nunito;
   src: url(./nunito/Nunito-SemiBold.ttf);
}
*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   font-family: Nunito;
}
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}
body{
   display: none;
   background-image: linear-gradient(black,black,#00001e,black);
   background-color: #000;
   color: white;
}