*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}
body{
   background-image: linear-gradient(black,black,#00001e,black);
}