*{
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}
body{
   background-image: linear-gradient(black,black,#00001e,black);
}
.left-menu{
   position: fixed;
   z-index: 100;
   display: none;
}
.left-menu-space{
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-color: #6f6f6f6c;
   overflow: hidden;
}
.left-menu-nav{
   animation: showmenu 0.5s;
   z-index: 200;
   position: fixed;
   top: 0;
   left: 0;
   background-color:#282828;
   width: 200px;
   height: 100%;
}
.left-menu-nav img{
   display: flex;
   padding: 15px;
   margin: auto;
}
.nav-button-left{
   padding: 10px;
   display: flex;
   color: white;
   cursor: pointer;
   transition: background-color 0.3s ease;
}
.nav-icon-left,.nav-detail-left{padding: 5px;}
.nav-button{cursor: pointer;}
.title-and-line{
   color: white;
   display: flex;
}
.title-line{
   height: 2px;
   margin: auto;
   border-radius: 10px;
}
.title-and-line .left{background-image: linear-gradient(to right,#00000000,#de4040);}
.title-and-line .right{background-image: linear-gradient(to right,#de4040,#00000000);}
::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-track{background-color: #000000;}
::-webkit-scrollbar-track-piece{
   background-color: #383838;
   box-shadow: inset 0 0 10px #000000; 
   border-radius: 10px;
}
::-webkit-scrollbar-thumb{
   background: #8c8c8c; 
   border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{background: #6b6b6b;}
@media screen and (min-width:900px) { /* pc */
   .title-line{width: 40%;}
   .logo{
      color: white;
      display: flex;
      margin-left: 15px;
   }
   .logo-button{
      margin: auto;
      margin-left: 15px;
      cursor: pointer;
   }
   .mobile{display: none;}
   .circle-menu{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: fixed;
      z-index: 100;
      right: 40px;
      align-items: center;
      border: 1px solid #de4040;
      transition: all 0.5s;
   }
   .circle-menu .nav-button{
      animation: none;
      padding: 15px;
      transform: translateX(50px);
   }
   .circle-menu:hover .nav-button{
      opacity: 1;
      transform: translateX(0px);
      transition:1s transform,1s opacity;
   }
   .circle-menu:hover{
      width: 150px;
      height: 200px;
      border-radius: 15px;
      transition: all 0.5s;
   }
   nav{
      display: flex;
      background-color: #282828;
      padding: 10px;
   }
   .nav-bar{
      display: flex;
      margin-left: auto;
      margin-right: 15px;
      overflow: hidden;
   }
   .nav-button{
      opacity: 0;
      display: flex;
      margin-left: 17px;
      margin-right: 17px;
      color: white;
      padding: 10px;
      animation: normal-menu 1s forwards;
      transition: background-color 0.3s ease;
   }
   .nav-icon{margin-right: 5px;}
   .left-menu-nav{width: 300px;}
   .nav-button:hover,.nav-button-left:hover{
      background-color: #de4040;
   }
   .nav-button:active,.nav-button-left:active{
      background-color: #b22828;
   }
}
@media screen and (max-width:900px){ /* mobile */
   .title-line{width: 33%;}
   header{width: 100%;}
   .logo{
      color: white;
      display: flex;
      margin-left: 10px;
      width: 140px;
   }
   .logo-button{
      margin: auto;
      margin-left: 10px;
      cursor: pointer;
      font-size: 14px;
   }
   .logo-button img{
      height: 20px;
   }
   .normal .nav-button{
      display: none;
   }
   nav{
      display: block;
      background-color: #282828;
      padding: 10px;
   }
   .nav-bar{
      display: flex;
      width: 100%;
   }
   .circle-menu{display: none;}
   .mobile{
      z-index: 100;
      position: fixed;
      bottom: 0;
      width: 100%;
      margin: 0;
      padding: 0;
   }
   .mobile .nav-button{
      display: flex;
      flex-direction: column;
      color: white;
      padding: 10px;
      width: 100%;
      transition: background-color 0.3s ease;
   }
   .nav-detail{
      font-size: 10px;
      margin: auto;
   }
   .nav-icon{
      margin: auto;
      padding: 2px;
   }
   .nav-button:hover,.nav-button-left:hover{
      background-color: #de4040;
   }
   .nav-button:active,.nav-button-left:active{
      background-color: #b22828;
   }
}
.hidden {
   opacity: 0;
   filter: blur(5px);
   transform: translateY(50%);
   transition: all 1s;
}
.show {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}